.header {
   background-color: $bg_header;
   // .header__container

   &__container {
      display: flex;
      align-items: center;
   }

   // .header__logo

   &__logo {
   }

   // .header__menu

   &__menu {
   }

   // .header__actions

   &__actions {
   }
}

.menu {
   // .menu__icon

   &__icon {
   }

   // .menu__body

   &__body {
   }

   // .menu__list

   &__list {
   }

   // .menu__link

   &__link {
   }
}
.icon-menu {
}
.actions-header {
   // .actions-header__region

   &__region {
   }

   // .actions-header__user

   &__user {
   }
}
.user-header {
   // .user-header__icon

   &__icon {
   }

   // .user-header__menu

   &__menu {
   }

   // .user-header__link

   &__link {
      // .user-header__link_1

      &_1 {
      }

      // .user-header__link_2

      &_2 {
      }

      // .user-header__link_3

      &_3 {
      }

      // .user-header__link_4

      &_4 {
      }
   }
}
