.header {
   background-color: $bg_header;
   // .header__container

   &__container {
      position: relative;
      display: flex;
      align-items: center;
      height: 75px;
      @media (max-width: $md3+px) {
         justify-content: space-between;
      }
   }

   // .header__logo

   &__logo {
      position: relative;
      z-index: 2;
      width: 144px;
      @media (max-width: $md3+px) {
         position: absolute;
         left: 50%;
         top: 50%;
         transform: translate(-50%, -50%);
      }
   }

   // .header__menu

   &__menu {
   }

   // .header__actions

   &__actions {
   }
}
.menu {
   padding: 0 0 0 30px/950px * 100%;
   flex: 1 1 auto;
   @media (max-width: $md3+px) {
      flex: 0 0 auto;
   }
   // .menu__icon

   &__icon {
   }

   // .menu__body

   &__body {
      @media (max-width: $md3+px) {
         //display: none;
         background-color: rgba(28, 36, 42, 0.8);
         position: fixed;
         width: 100%;
         height: 100%;
         left: 0;
         top: 0;
         overflow: auto;
         padding: 130px 0 20px 0;
         opacity: 0;
         visibility: hidden;
         transition: all 0.3s ease 0s;
         text-align: center;
         &::after {
            content: "";
            //display: none;
            background-color: $bg_header;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 75px;
         }
         &._active {
            opacity: 1;
            visibility: visible;
         }
      }
   }

   // .menu__list

   &__list {
      display: flex;
      justify-content: center;
      li {
         margin: 0 15px;
      }
      @media (max-width: $md3+px) {
         display: block;

         li {
            margin: 0 0 30px 0;
            &:last-child {
               margin: 0 0 0 0;
            }
         }
      }
   }

   // .menu__link

   &__link {
      font-family: "PFDin";
      text-transform: uppercase;
      letter-spacing: 1.4px;
      color: $bg_white;
      @media (min-width: 992px) {
         &:hover {
            text-decoration: underline;
         }
      }
      @media (max-width: $md3+px) {
         font-size: 24px;
      }
   }
}
.icon-menu {
   @media (max-width: $md3+px) {
      //display: block;
      position: relative;
      //top: 0px;
      //right: 0px;
      width: 30px;
      height: 18px;
      cursor: pointer;
      z-index: 5;
      span {
         @include anim(0.3s, 0s);
         top: 8px;
         left: 0px;
         position: absolute;
         width: 100%;
         height: 2px;
         background-color: $bg_gold;
         &:first-child {
            top: 0px;
         }
         &:last-child {
            top: auto;
            bottom: 0px;
         }
      }
      &._active {
         span {
            @include scale(0);
            &:first-child {
               @include rotate(-45deg);
               top: 8px;
            }
            &:last-child {
               @include rotate(45deg);
               bottom: 8px;
            }
         }
      }
   }
}
.actions-header {
   display: flex;
   align-items: center;

   // .actions-header__region

   &__region {
      position: relative;
      z-index: 2;
      @extend .menu__link;
      padding: 0 0 0 30px;
      line-height: 1.5;
      min-width: 18px;
      min-height: 18px;
      background: url("../img/icons/globe.png") left no-repeat;
      @media (max-width: 890px) {
         padding: 0 0 0 0;
         span {
            display: none;
         }
      }
      @media (max-width: $md3+px) {
         margin: 30px 0 0 0;
         display: inline-block;
         padding: 0 0 0 30px;
         span {
            display: inline-block;
         }
      }
   }

   // .actions-header__user

   &__user {
      margin: 0 0 0 30px;
      @media (max-width: 890px) {
         margin: 0 0 0 15px;
      }
   }
}
.user-header {
   // .user-header__icon

   &__icon {
      position: relative;
      z-index: 2;
      cursor: pointer;
   }

   // .user-header__menu

   &__menu {
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease 0s;
      top: 88px;
      right: 0;
      position: absolute;
      background-color: $bg_header;
      padding: 20px;
      min-width: 176px;
      li {
         margin: 0 0 8px 0;
         &:last-child {
            margin: 0 0 0 0;
         }
      }
      @media (max-width: $md3+px) {
         width: 100%;
      }
      &._active {
         top: 78px;
         opacity: 1;
         visibility: visible;
      }
   }

   // .user-header__link

   &__link {
      color: $bg_white;
      padding: 0 0 0 30px;
      display: inline-block;
      line-height: 18px;
      // .user-header__link_1

      &_1 {
         background: url("../img/icons/menu/01.png") 1px center no-repeat;
      }

      // .user-header__link_2

      &_2 {
         background: url("../img/icons/menu/02.png") left center no-repeat;
      }

      // .user-header__link_3

      &_3 {
         background: url("../img/icons/menu/03.png") 4px center no-repeat;
      }

      // .user-header__link_4

      &_4 {
         background: url("../img/icons/menu/04.png") left center no-repeat;
      }
      @media (min-width: 992px) {
         &:hover {
            text-decoration: underline;
         }
      }
   }
}
