//====================================================================================================
.footer {
   padding: 45px 0;
   background-color: #1c242a;
   // .footer__content
   &__content {
      display: flex;
      @media (max-width: 767px) {
         display: block;
         text-align: center;
      }
   }
   // .footer__column
   &__column {
      &:first-child {
         flex: 0 0 180px;
      }
      &_full {
         flex: 1 1 auto;
      }
      //margin: 0 30px 0 0;
   }
   // .footer__logo
   &__logo {
      display: inline-block;
      margin: 0 0 25px 0;
      @media (max-width: 767px) {
         margin: 0;
      }
   }
   // .footer__info
   &__info {
      //font-family: "PTSans";
      //font-size: 14px;
      //font-weight: 500;
      //line-height: 1.5;
      //text-align: left;
      color: #bb9c66;
      @media (max-width: 767px) {
         margin: 25px 0 0 0;
      }
   }
   // .footer__menu
   &__menu {
      padding: 0 30px;
      @media (max-width: 767px) {
         padding: 0 15px;
         margin: 0 0 20px 0;
      }
   }
   // .footer__list
   &__list {
      display: flex;
      flex-wrap: wrap;
      li {
         margin: 12px 15px 0px 0;
      }
      @media (max-width: 767px) {
         justify-content: center;
         margin: 12px 7px 0px 7px;
      }
   }
   // .footer__link
   &__link {
      //margin: 0 25px 0 0;
      font-family: "PFDin";
      font-size: 14px;
      font-weight: 500;
      color: #ffffff;
      text-transform: uppercase;
      letter-spacing: 1.4px;
      @media (min-width: 992px) {
         &:hover {
            text-decoration: underline;
         }
      }
   }
   // .footer__contacts
   &__contacts {
      padding: 12px 0 0 0;
      text-align: right;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      @media (max-width: 767px) {
         align-items: center;
      }
   }
   // .footer__phone
   &__phone {
      white-space: nowrap;
      display: flex;
      align-items: flex-start;
      color: #bb9c66;
      font-family: "BravoRGRegular";
      font-size: 50px;
      text-transform: uppercase;
      small {
         margin: 2px 5px 0px 0px;
         font-size: 25px;
      }
      @media (max-width: 991px) {
         font-size: 40px;
         small {
            font-size: 20px;
         }
      }
   }
   // .footer__callback
   &__callback {
      font-family: "PTSans";
      font-weight: 500;
      font-size: 14px;
      line-height: 1.5;
      text-align: left;
      color: #bb9c66;
      background: url("/img/icons/callback.svg") left no-repeat;
      padding: 0 0 0 12px;
      span {
         border-bottom: 1px dashed;
      }
   }
}

//====================================================================================================
