//<ОСНОВНОЙ БЛОК>====================================================================================================
.title {
   text-align: center;
   // .title__item

   &__item {
      font-family: "Ceremonious";
      font-size: 40px;
      color: $bg_gold;
      margin: 0px 0px 20px/40px * 1em 0px;
   }

   // .title__main

   &__main {
      font-family: "PFDin";
      letter-spacing: 5.25px;
      font-size: 35px;
      line-height: calc(40 / 35);
      text-transform: uppercase;
      font-weight: 500;
      // .title__main_w

      &_regular {
         font-weight: 400;
      }
      // .title__main_regular

      &_w {
         color: $bg_white;
      }
      // .title__main_W

      @media (max-width: $md3+px) {
         font-size: 30px;
      }
   }
}
//</ОСНОВНОЙ БЛОК>====================================================================================================

//<ГОТОВЫЕ КЛАССЫ>====================================================================================================
//====================================================================================================
.ibg {
   position: relative;
   img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
   }
}

body.ie {
   .ibg {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
   }
   .ibg img {
      width: 0;
      height: 0;
      opacity: 0;
      visibility: hidden;
   }
}
//====================================================================================================
//</ГОТОВЫЕ КЛАССЫ>====================================================================================================
